In [63]:
import pandas as pd
import xlsxwriter

In [64]:
df_dte = pd.read_excel('intersectional_DTEmetrics.xlsx')
df_nn1 = pd.read_excel('intersectional_NNmetrics1.xlsx')
df_nn2 = pd.read_excel('intersectional_NNmetrics2.xlsx')
df_nn3 = pd.read_excel('intersectional_NNmetrics3.xlsx')
df_nn4 = pd.read_excel('intersectional_NNmetrics4.xlsx')
df_nn5 = pd.read_excel('intersectional_NNmetrics5.xlsx')
df_nn6 = pd.read_excel('intersectional_NNmetrics6.xlsx')
df_nn7 = pd.read_excel('intersectional_NNmetrics7.xlsx')
df_log = pd.read_excel('intersectional_LRmetrics.xlsx')
df_svm = pd.read_excel('intersectional_SVMmetrics.xlsx')

df_nn = pd.concat([df_nn1, df_nn2])
df_nn = pd.concat([df_nn3, df_nn])
df_nn = pd.concat([df_nn4, df_nn])
df_nn = pd.concat([df_nn5, df_nn])
df_nn = pd.concat([df_nn6, df_nn])
df_nn = pd.concat([df_nn7, df_nn])
df = pd.concat([df_dte,df_nn])
df = pd.concat([df,df_log])
df = pd.concat([df,df_svm])

df.to_excel('intersektional_all_metrics.xlsx')
df.to_pickle('intersektional_all_metrics.pkl')

In [65]:
grouped = df.groupby(df.group)

df_abi_deutsch = grouped.get_group("df_abi_deutsch")
df_abi_migration = grouped.get_group("df_abi_migration")
df_keinAbi_migration = grouped.get_group("df_keinAbi_migration")
df_keinAbi_deutsch = grouped.get_group("df_keinAbi_deutsch")
df_abi_w = grouped.get_group("df_abi_w")
df_abi_m = grouped.get_group("df_abi_m")
df_keinAbi_w = grouped.get_group("df_keinAbi_w")
df_keinAbi_m = grouped.get_group("df_keinAbi_m")
df_abi_buch0 = grouped.get_group("df_abi_buch0")
df_abi_buch1 = grouped.get_group("df_abi_buch1")
df_keinAbi_buch0 = grouped.get_group("df_keinAbi_buch0")
df_keinAbi_buch1 = grouped.get_group("df_keinAbi_buch1")
df_w_migration = grouped.get_group("df_w_migration")
df_w_deutsch = grouped.get_group("df_w_deutsch")
df_m_migration = grouped.get_group("df_m_migration")
df_m_deutsch = grouped.get_group("df_m_deutsch")
df_w_buch0 = grouped.get_group("df_w_buch0")
df_w_buch1 = grouped.get_group("df_w_buch1")
df_m_buch0 = grouped.get_group("df_m_buch0")
df_m_buch1 = grouped.get_group("df_m_buch1")
df_migration_buch0 = grouped.get_group("df_migration_buch0")
df_migration_buch1 = grouped.get_group("df_migration_buch1")
df_deutsch_buch0 = grouped.get_group("df_deutsch_buch0")
df_deutsch_buch1 = grouped.get_group("df_deutsch_buch1")

In [66]:
# df_abi_erstsprache
# df_keinAbi_erstsprache
# df_abi_gender
# df_keinAbi_gender
# df_abi_buch
# df_keinAbi_buch
# df_w_erstsprache
# df_m_erstsprache
# df_w_buch
# df_m_buch
# df_migration_buch
# df_deutsch_buch

In [67]:
def get_metrics(first, second, firstString, secondString):
    df = pd.concat([first, second])
    df = df.drop(columns=['Unnamed: 0', 'Accuracy'])
    df = pd.pivot_table(df, values=["Precision","Recall","AUC","FPR"], index=["model"], columns=["group"])
    df['PP'] = df.Precision[firstString]-df.Precision[secondString]
    df['EO'] = df.Recall[secondString]-df.Recall[firstString]
    df['SA'] = df.AUC[firstString]-df.AUC[secondString]
    df['PE'] = df.FPR[secondString]-df.FPR[firstString]
    df = df.drop(columns=['AUC','Precision','Recall','FPR'])
    df.columns = df.columns.droplevel(1)
    df = pd.pivot_table(df, values=["PP","EO","SA","PE"],  columns=["model"])
    return df

In [68]:
firstString = "df_abi_deutsch"
secondString = "df_abi_migration"
df_abi_erstsprache = get_metrics(df_abi_deutsch,df_abi_migration, firstString, secondString)

firstString = "df_keinAbi_deutsch"
secondString = "df_keinAbi_migration"
df_keinAbi_erstsprache = get_metrics(df_keinAbi_deutsch,df_keinAbi_migration, firstString, secondString)

firstString = "df_abi_w"
secondString = "df_abi_m"
df_abi_gender = get_metrics(df_abi_w, df_abi_m, firstString, secondString)

firstString = "df_keinAbi_w"
secondString = "df_keinAbi_m"
df_keinAbi_gender = get_metrics(df_keinAbi_w,df_keinAbi_m, firstString, secondString)

firstString = "df_abi_buch1"
secondString = "df_abi_buch0"
df_abi_buch = get_metrics(df_abi_buch1, df_abi_buch0, firstString, secondString)

firstString = "df_keinAbi_buch1"
secondString = "df_keinAbi_buch0"
df_keinAbi_buch = get_metrics(df_keinAbi_buch1,df_keinAbi_buch0, firstString, secondString)

firstString = "df_w_deutsch"
secondString = "df_w_migration"
df_w_erstsprache = get_metrics(df_w_deutsch, df_w_migration, firstString, secondString)

firstString = "df_m_deutsch"
secondString = "df_m_migration"
df_m_erstsprache = get_metrics(df_m_deutsch,df_m_migration, firstString, secondString)

firstString = "df_w_buch1"
secondString = "df_w_buch0"
df_w_buch = get_metrics(df_w_buch1, df_w_buch0, firstString, secondString)

firstString = "df_m_buch1"
secondString = "df_m_buch0"
df_m_buch = get_metrics(df_m_buch1,df_m_buch0, firstString, secondString)


firstString = "df_migration_buch1"
secondString = "df_migration_buch0"
df_migration_buch = get_metrics(df_migration_buch1, df_migration_buch0, firstString, secondString)

firstString = "df_deutsch_buch1"
secondString = "df_deutsch_buch0"
df_deutsch_buch = get_metrics(df_deutsch_buch1,df_deutsch_buch0, firstString, secondString)

In [69]:
# df_abi_erstsprache = pd.concat([df_abi_deutsch, df_abi_migration])
# df_abi_erstsprache = df_abi_erstsprache.drop(columns=['Unnamed: 0', 'Accuracy'])
# df_abi_erstsprache = pd.pivot_table(df_abi_erstsprache, values=["Precision","Recall","AUC","FPR"], index=["model"], columns=["group"])
# df_abi_erstsprache['PP'] = df_abi_erstsprache.Precision.df_abi_deutsch-df_abi_erstsprache.Precision.df_abi_migration
# df_abi_erstsprache['EO'] = df_abi_erstsprache.Recall.df_abi_migration-df_abi_erstsprache.Recall.df_abi_deutsch
# df_abi_erstsprache['SA'] = df_abi_erstsprache.AUC.df_abi_deutsch-df_abi_erstsprache.AUC.df_abi_migration
# df_abi_erstsprache['PE'] = df_abi_erstsprache.FPR.df_abi_migration-df_abi_erstsprache.FPR.df_abi_deutsch
# df_abi_erstsprache = df_abi_erstsprache.drop(columns=['AUC','Precision','Recall','FPR'])
# df_abi_erstsprache.columns = df_abi_erstsprache.columns.droplevel(1)
# df_abi_erstsprache = pd.pivot_table(df_abi_erstsprache, values=["PP","EO","SA","PE"],  columns=["model"])
# df_abi_erstsprache

In [70]:
#format result

def threshold001(v, props=''):
    return props if (v > 0.02) or (v < -0.02) else None

def threshold005(v, props=''):
    return props if (v > 0.05) or (v < -0.05) else None

def negativeValue(v, props=''):
    return props if (v < 0) else None

def showTable(df):
    styled = df.style.set_properties(color="black", align="right")\
        .set_properties(**{'background-color': 'white'})\
        .applymap(threshold001, props='color:orange;')\
        .applymap(threshold005, props='color:red;')\
        .applymap(negativeValue, props='font-weight:bold;')

    return styled

In [71]:
s = showTable(df_abi_erstsprache)
s

In [72]:
s = showTable(df_keinAbi_erstsprache)
s

In [73]:
s = showTable(df_abi_gender)
s

In [74]:
s = showTable(df_keinAbi_gender)
s

In [75]:
s = showTable(df_abi_buch)
s

In [76]:
s = showTable(df_keinAbi_buch)
s

In [77]:
s = showTable(df_w_erstsprache)
s

In [78]:
s = showTable(df_m_erstsprache)
s

In [79]:
s = showTable(df_w_buch)
s

In [80]:
s = showTable(df_m_buch)
s

In [81]:
s = showTable(df_migration_buch)
s

In [82]:
s = showTable(df_deutsch_buch)
s

In [83]:
# writer = pd.ExcelWriter('intersektional_fairness_double.xlsx', engine='xlsxwriter')

# df_gender.to_excel(writer, sheet_name='Gender')
# df_abiEltern.to_excel(writer, sheet_name='AbiEltern')
# df_erstsprache.to_excel(writer, sheet_name='ErstSprache')
# df_buecher.to_excel(writer, sheet_name='Buecher')
# writer.save()